.helpdesk_stats .rows {
  display: flex;
  flex-wrap: wrap;
  gap: 40px; }

.helpdesk_stats .rows .card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1; }

.helpdesk_stats .rows .card:nth-child(1) {
  background-color: #d97706; }

.helpdesk_stats .rows .card:nth-child(2) {
  background-color: #16a34a; }

.helpdesk_stats .rows .card:nth-child(3) {
  background-color: #dc2626; }

.helpdesk_stats .rows .card span:nth-of-type(1) {
  font-size: 22px;
  font-weight: bold;
  color: #fff; }

.helpdesk_stats .rows .card p {
  color: rgba(255, 255, 255, 0.8); }

.helpdesk_stats .rows .card span:nth-of-type(2) {
  font-size: 28px;
  font-weight: bold;
  color: #fff; }

.custom-option {
  display: flex;
  align-items: center;
  column-gap: 4px; }

.custom-option .option-circle {
  width: 14px;
  height: 14px;
  display: block;
  border-radius: 50%; }

.custom-option .pending,
.custom-option .forwarded {
  background: #d97706; }

.custom-option .success {
  background: #16a34a; }

.custom-option .unsuccess {
  background: #dc2626; }

.custom-option .activ {
  background: #47cada; }

.info-heading {
  line-height: 14px; }

.info-heading p {
  color: rgba(0, 0, 0, 0.5); }

html {
  scroll-behavior: smooth; }

.helpdesk {
  width: 60%;
  display: block !important;
  margin: 20px auto; }

.helpdesk .info {
  background-color: #fff;
  border-radius: 15px;
  font-size: 17px;
  padding: 20px; }

.helpdesk .info > .actions {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px; }

.message {
  background: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px; }

.message.owner {
  border: 1px solid #ffc107; }

.message.responder {
  border: 1px solid #28a745; }

.avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden; }

.avatar img {
  width: 100%; 
height: 100%;
}

.message_header {
  display: flex;
  justify-content: space-between; }

.message_header .left {
  display: flex;
  column-gap: 8px; }

.message_header .left .avatar + div {
  display: flex;
  flex-direction: column; }

.message_header .left .avatar + div > span:nth-child(1) {
  font-size: 18px; }

.message_header .left .avatar + div > span:nth-child(2) {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 8px; }

div.content {
  white-space: pre-line; }

.file-input label {
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 40px 0;
  border-radius: 10px;
  border: 2px dashed #ccc;
  background-color: #fff; }

@media (max-width: 600px) {
  .helpdesk {
    width: 100%;
    display: block !important;
    margin: 20px auto; }
  .message {
    padding: 8px; }
  .avatar {
    width: 40px;
    height: 40px; }
  .message_header .left .avatar + div > span:nth-child(1) {
    font-size: 16px; }
  .message_header .left .avatar + div > span:nth-child(2) {
    font-size: 14px;
    line-height: 6px; }
  .message_header .right {
    font-size: 12px; } }

.permissionsTable thead {
  background-color: #f4f7f9;
  position: sticky;
  top: 55px; }

.permissions_filter {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; }

.permissions_filter > .form-group {
  flex: 1;
  margin-bottom: 0 !important; }

.permissions_filter button {
  align-self: center; }

.permissions_filter #myselect + span > * {
  height: 35px; }

.select2-selection__rendered {
  line-height: 35px !important; }

.select2-container .select2-selection--single {
  height: 35px !important; }

.select2-selection__arrow {
  height: 35px !important; }

.user-details {
  display: flex;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px; }
  .user-details .left {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
    align-items: center; }
    .user-details .left img {
      width: 150px;
      height: 150px;
      border-radius: 50%; }
    .user-details .left span:nth-of-type(1) {
      font-size: 18px;
      font-weight: 700; }
    .user-details .left span:nth-of-type(2) {
      color: rgba(0, 0, 0, 0.5); }
